

.sidebar-title {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

/* Links da Barra Lateral */
.sidebar-link {
  position: relative;
  color: white;
  text-decoration: none;
  margin: 10px 0;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 20px;
  width: 100%;
  border-radius: 8px;
  transition: color 0.3s, background-color 0.3s;
}

.sidebar-link:hover {
  color: #007bff;
  background-color: rgba(255, 255, 255, 0.1);
}

.sidebar-link.active {
  color: white;
  background-color: rgba(255, 255, 255, 0.1); /* Fundo mais claro para o item ativo */
}

/* Contorno Ativo */
.sidebar-link.active::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 5px;
  background-color: #007bff; /* Cor do contorno */
  border-radius: 5px 0 0 5px; /* Borda arredondada para o contorno */
}

/* Ícones e Nome Centralizados */
.nav-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.nav-icon {
  font-size: 24px;
  margin-bottom: 5px;
}


h1 {
  color: #007bff;
}

p {
  font-size: 16px;
  line-height: 1.6;
}
/* Layout Global */
.main-layout {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

/* Sidebar */
.sidebar {
  width: 250px;
  height: 100vh; /* A sidebar ocupa toda a altura da tela */
  background-color: #1a1a1a;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
}

/* Conteúdo Principal */
.content {
  flex: 1;
  overflow-y: auto; /* Permite rolagem apenas no conteúdo principal */
  background-color: #f8f9fa;
  padding: 20px;
}
.sidebar-logo {
  width: 100%;  /* Ajusta a largura da imagem */
  max-width: 200px;  /* Define um tamanho máximo */
  height: auto;  /* Mantém a proporção original */
  display: block;  /* Garante que a imagem seja exibida como bloco */
  margin: 0 auto;  /* Centraliza a imagem */
}
